<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kabula Hill Zoom App</title>
  <script src="https://appssdk.zoom.us/sdk.min.js"></script>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background: linear-gradient(to bottom, #4e54c8, #8f94fb);
      color: #fff;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    #canvas {
      width: 1280px;
      height: 720px;
      background-color: #f0f0f0;
    }

    form {
      background: rgba(46, 0, 133, 0.8);

      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      max-width: 600px;
      margin: auto;
      width: 400px;
      margin-top: 10px;
    }

    form label {
      margin-bottom: 5px;
    }

    form input,
    form select {
      margin-bottom: 15px;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .divider {
      border-top: 2px solid #333;
      margin: 20px 0;
      text-align: center;
      color: #333;
    }

    .divider h2 {
      background-color: #fff;
      padding: 0 10px;
      font-size: 16px;
      display: inline-block;
    }

    button,
    .clear {
      background: #4e54c8;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    button:hover,
    .clear:hover {
      background: #8f94fb;


    }

    .clear {
      font-size: 2rem;
      margin: 10px;
    }

    .hidden {
      position: absolute;
      display: none;
    }
  </style>
</head>

<body>

  <canvas id="canvas" class="hidden" width="1280" height="720"></canvas>
  <input  id="overlayImageId" class="hidden" value="" />

  <form id="eventForm">
    <label for="responsiveReading">Responsive Reading:</label>
    <input type="number" id="responsiveReading" name="responsiveReading" placeholder="Enter responsive reading"
      required>

    <label for="scriptureReading">Scripture Reading:</label>
    <input type="number" id="scriptureReading" name="scriptureReading" placeholder="Enter scripture reading" required>

    <label for="openingHymn">Opening Hymn:</label>
    <input type="number" id="openingHymn" name="openingHymn" placeholder="Enter opening hymn" required>

    <!-- <label for="christInSongNumber">Christ in Song Number:</label>
    <input type="number" id="christInSongNumber" name="christInSongNumber" placeholder="Enter Christ in song number"
      required> -->

    <!-- <label for="chorus">Chorus:</label>
    <input type="number" id="chorus" name="chorus" placeholder="Enter chorus" required> -->

    <label for="closingHymn">Closing Hymn:</label>
    <input type="number" id="closingHymn" name="closingHymn" placeholder="Enter closing hymn" required>

    <button type="submit">Load Content</button>
  </form>

  <form id="bibleForm">

    <div class="divider">
      <h2>Lower Thirds</h2>
    </div>

    <label for="book">Book:</label>
    <select type="text" id="book" name="book" placeholder="Enter book" required></select>

    <label for="chapter">Chapter:</label>
    <input type="number" id="chapter" name="chapter" placeholder="Enter chapter" required>

    <label for="verse">Verse Start:</label>
    <input type="number" id="verse" name="verse" placeholder="Enter verse start" required>

    <label for="verse">Verse Start:</label>
    <input type="number" id="verse2" name="verse2" placeholder="Enter verse end">
    <button type="submit">Show Overlay</button>
  </form>
  <button class="clear">Clear Overlay</button>
  <form id="overlayForm">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" placeholder="Enter title" required>

    <label for="subtitle">Subtitle:</label>
    <input type="text" id="subtitle" name="subtitle" placeholder="Enter subtitle" required>

    <button type="submit">Show Overlay</button>
  </form>

  <script>
    try {
      zoomSdk.config({
        size: { width: 1280, height: 720 },
        capabilities: [
          `runRenderingContext`,
          `closeRenderingContext`,
          `drawParticipant`,
          `clearParticipant`,
          `drawImage`,
          `clearImage`,
          `drawWebView`,
          `clearWebview`,
          `postMessage`,
          `onMessage`
        ]
      }).then(() => zoomSdk.runRenderingContext({ view: "camera" }));
    } catch (e) {
      console.log("Error", e.message)
    }
  </script>

  <script>
    document.getElementById('eventForm').addEventListener('submit', async function (event) {
      event.preventDefault();
      // You can add JavaScript logic here to handle the form submission
      // For demonstration purposes, you can log the form data to the console
      const formdata = new FormData(event.target)

      const responsiveReading = formdata.get('responsiveReading')
      const openingHymn = formdata.get('openingHymn')
      const closingHymn = formdata.get('closingHymn')

      const responseR = await fetch(`/hymns/${responsiveReading}`);
      const responseO = await fetch(`/hymns/${openingHymn}`);
      const responseC = await fetch(`/hymns/${closingHymn}`);

      console.log('Response received:', await responseR.json())
      console.log('Response received:', await responseO.json())
      console.log('Response received:', await responseC.json())
    });
  </script>


  <script>

    // load bible
    const books = [
      "Genesis", "Exodus", "Leviticus", "Numbers", "Deuteronomy",
      "Joshua", "Judges", "Ruth", "1 Samuel", "2 Samuel",
      "1 Kings", "2 Kings", "1 Chronicles", "2 Chronicles", "Ezra",
      "Nehemiah", "Esther", "Job", "Psalms", "Proverbs",
      "Ecclesiastes", "Song of Solomon", "Isaiah", "Jeremiah", "Lamentations",
      "Ezekiel", "Daniel", "Hosea", "Joel", "Amos",
      "Obadiah", "Jonah", "Micah", "Nahum", "Habakkuk",
      "Zephaniah", "Haggai", "Zechariah", "Malachi", "Matthew",
      "Mark", "Luke", "John", "Acts", "Romans",
      "1 Corinthians", "2 Corinthians", "Galatians", "Ephesians", "Philippians",
      "Colossians", "1 Thessalonians", "2 Thessalonians", "1 Timothy", "2 Timothy",
      "Titus", "Philemon", "Hebrews", "James", "1 Peter",
      "2 Peter", "1 John", "2 John", "3 John", "Jude",
      "Revelation"
    ];
    const elem = document.getElementById('book')
    for (const index in books) {
      const book = books[index];
      const option = document.createElement("option");
      option.value = index.toString();
      option.textContent = book;
      elem.appendChild(option);
    }

    document.getElementById('bibleForm').addEventListener('submit', async function (event) {
      event.preventDefault();
      const formdata = new FormData(event.target)
      const book = formdata.get('book')
      const chapter = formdata.get('chapter')
      const verse1 = formdata.get('verse')
      const verse2 = formdata.get('verse2');
      if (verse2) {
        const response = await fetch(`/api/bible/${book}/${chapter}/${verse1}/${verse2}`);
        const json = await response.json();
        console.log(json)
      } else {
        const response = await fetch(`/api/bible/${book}/${chapter}/${verse1}`);
        const text = await response.json();
        console.log(text.replace(/<\/?[^>]+>/g, ''))
      }

    });
  </script>


  <script>
    async function clearOverlay() {
      const input = document.getElementById('overlayImageId');
      const id = input.value;
      const canvas = document.querySelector('canvas');
      const ctx = canvas.getContext('2d');
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      try {
        if (id) await zoomSdk.clearImage(id);
      } catch (e) {
        console.log(e.message);
      }
    }

    document.querySelector('.clear').onclick = clearOverlay;

    document.getElementById('overlayForm').onsubmit = async function (event) {
      event.preventDefault();
      const formdata = new FormData(event.target)
      const title = formdata.get('title')
      const subtitle = formdata.get('subtitle')

      // Canvas Settings
      const canvas = document.querySelector('canvas');
      const ctx = canvas.getContext('2d');
      const x = 30;
      const y = 500;
      const width = 700;
      const height = 150;


      await clearOverlay();

      ctx.fillStyle = "#18033ea9";
      ctx.fillRect(x, y, width, height);

      ctx.fillStyle = "#FFFFFF";
      ctx.textAlign = "left";
      ctx.font = `bold 48pt Arial`;
      ctx.fillText(title, x + 20, y + 60);
      ctx.font = "28pt Arial";
      ctx.fillText(subtitle, x + 20, y + 100);

      try {
        const imageData = ctx.getImageData(0, 0, 1280, 720);
        const zoomData = await zoomSdk.drawImage({
          x: 0,
          y: 0,
          imageData: imageData,
          zIndex: 3,
        });
        const input = document.getElementById('overlayImageId');
        input.value = zoomData.imageId;
      } catch (e) {
        console.log(e.message)
      }
    };
  </script>


</body>

</html>